.DS_Store
xcuserdata
Example project/.DS_Store
Example project/OfflineQueueTest.xcodeproj/project.xcworkspace/xcuserdata/kevboh.xcuserdatad/UserInterfaceState.xcuserstate
Example project/OfflineQueueTest.xcodeproj/xcuserdata/kevboh.xcuserdatad/xcschemes/OfflineQueueTest.xcscheme
Example project/OfflineQueueTest.xcodeproj/xcuserdata/kevboh.xcuserdatad/xcschemes/xcschememanagement.plist
